In [1]:
import sqlite3

In [2]:
firstdb = sqlite3.connect('first.db')

In [3]:
# 查询语句
query_sql = "select * from info"
for result in firstdb.execute(query_sql):
    print(result)

(2, '标题二', '中华上下五千年', '史学家')
(3, '标题一', '这是内容', '匿名')
(4, '第10个标题', '随机的第20个内容', '匿名')
(5, '第11个标题', '随机的第22个内容', '匿名')
(6, '第12个标题', '随机的第24个内容', '匿名')
(7, '第13个标题', '随机的第26个内容', '匿名')
(8, '第14个标题', '随机的第28个内容', '匿名')
(9, '第15个标题', '随机的第30个内容', '匿名')
(10, '第16个标题', '随机的第32个内容', '匿名')
(11, '第17个标题', '随机的第34个内容', '匿名')
(12, '第18个标题', '随机的第36个内容', '匿名')
(13, '第19个标题', '随机的第38个内容', '匿名')

In [4]:
# 删除特定数据
delete_sql = "delete from info where id = 3 "

firstdb.execute(delete_sql)
firstdb.commit()

# 查询并输出
query_sql = "select * from info"
for result in firstdb.execute(query_sql):
    print(result)

(2, '标题二', '中华上下五千年', '史学家')
(4, '第10个标题', '随机的第20个内容', '匿名')
(5, '第11个标题', '随机的第22个内容', '匿名')
(6, '第12个标题', '随机的第24个内容', '匿名')
(7, '第13个标题', '随机的第26个内容', '匿名')
(8, '第14个标题', '随机的第28个内容', '匿名')
(9, '第15个标题', '随机的第30个内容', '匿名')
(10, '第16个标题', '随机的第32个内容', '匿名')
(11, '第17个标题', '随机的第34个内容', '匿名')
(12, '第18个标题', '随机的第36个内容', '匿名')
(13, '第19个标题', '随机的第38个内容', '匿名')

In [5]:
# 插入数据
insert_sql = "insert into info(title, content, author) values ('第{}个标题', '随机的第{}个内容', '匿名')"
for i in range(100,120):
    sql = insert_sql.format(i,i*2)
    firstdb.execute(sql)
    firstdb.commit()

    
# 查询并输出
query_sql = "select * from info"
for result in firstdb.execute(query_sql):
    print(result)

(2, '标题二', '中华上下五千年', '史学家')
(4, '第10个标题', '随机的第20个内容', '匿名')
(5, '第11个标题', '随机的第22个内容', '匿名')
(6, '第12个标题', '随机的第24个内容', '匿名')
(7, '第13个标题', '随机的第26个内容', '匿名')
(8, '第14个标题', '随机的第28个内容', '匿名')
(9, '第15个标题', '随机的第30个内容', '匿名')
(10, '第16个标题', '随机的第32个内容', '匿名')
(11, '第17个标题', '随机的第34个内容', '匿名')
(12, '第18个标题', '随机的第36个内容', '匿名')
(13, '第19个标题', '随机的第38个内容', '匿名')
(14, '第100个标题', '随机的第200个内容', '匿名')
(15, '第101个标题', '随机的第202个内容', '匿名')
(16, '第102个标题', '随机的第204个内容', '匿名')
(17, '第103个标题', '随机的第206个内容', '匿名')
(18, '第104个标题', '随机的第208个内容', '匿名')
(19, '第105个标题', '随机的第210个内容', '匿名')
(20, '第106个标题', '随机的第212个内容', '匿名')
(21, '第107个标题', '随机的第214个内容', '匿名')
(22, '第108个标题', '随机的第216个内容', '匿名')
(23, '第109个标题', '随机的第218个内容', '匿名')
(24, '第110个标题', '随机的第220个内容', '匿名')
(25, '第111个标题', '随机的第222个内容', '匿名')
(26, '第112个标题', '随机的第224个内容', '匿名')
(27, '第113个标题', '随机的第226个内容', '匿名')
(28, '第114个标题', '随机的第228个内容', '匿名')
(29, '第115个标题', '随机的第230个内容', '匿名')
(30, '第116个标题', '随机的第232个内容', '匿名')
(31, '第117个标题', '随机的第234个内容', '匿名')
(32, '第118个标题', '随机的第236个内容', '匿名')
(33, '第119个标题', '随机的第238个内容', '匿名')

In [8]:
# 更新数据
update_sql = "update info set author = '小布' where id >= 10"
firstdb.execute(update_sql)
firstdb.commit() # execute执行了代码，必须commit才可以

# 查询并输出
query_sql = "select * from info"
for result in firstdb.execute(query_sql):
    print(result)

(2, '标题二', '中华上下五千年', '史学家')
(4, '第10个标题', '随机的第20个内容', '匿名')
(5, '第11个标题', '随机的第22个内容', '匿名')
(6, '第12个标题', '随机的第24个内容', '匿名')
(7, '第13个标题', '随机的第26个内容', '匿名')
(8, '第14个标题', '随机的第28个内容', '匿名')
(9, '第15个标题', '随机的第30个内容', '匿名')
(10, '第16个标题', '随机的第32个内容', '小布')
(11, '第17个标题', '随机的第34个内容', '小布')
(12, '第18个标题', '随机的第36个内容', '小布')
(13, '第19个标题', '随机的第38个内容', '小布')
(14, '第100个标题', '随机的第200个内容', '小布')
(15, '第101个标题', '随机的第202个内容', '小布')
(16, '第102个标题', '随机的第204个内容', '小布')
(17, '第103个标题', '随机的第206个内容', '小布')
(18, '第104个标题', '随机的第208个内容', '小布')
(19, '第105个标题', '随机的第210个内容', '小布')
(20, '第106个标题', '随机的第212个内容', '小布')
(21, '第107个标题', '随机的第214个内容', '小布')
(22, '第108个标题', '随机的第216个内容', '小布')
(23, '第109个标题', '随机的第218个内容', '小布')
(24, '第110个标题', '随机的第220个内容', '小布')
(25, '第111个标题', '随机的第222个内容', '小布')
(26, '第112个标题', '随机的第224个内容', '小布')
(27, '第113个标题', '随机的第226个内容', '小布')
(28, '第114个标题', '随机的第228个内容', '小布')
(29, '第115个标题', '随机的第230个内容', '小布')
(30, '第116个标题', '随机的第232个内容', '小布')
(31, '第117个标题', '随机的第234个内容', '小布')
(32, '第118个标题', '随机的第236个内容', '小布')
(33, '第119个标题', '随机的第238个内容', '小布')